body {
    background: grey;
    padding: 0 20px;
    color: #ffffff;
    font-size: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    color: #ffffff;
}


.score_number {
    color: #ffffff;
    background: transparent;
    border: none;
    font-size: 25px;
    padding: 0 10px;
    width: 40px;
}

.score_number::placeholder {
    color: #ffffff;
}

.level_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #008966;
    border-radius: 15px;
}

.level_name {
    list-style: none;
    background-color: #008966;
    padding: 15px;
    border-radius: 15px;
}

.level_name--active {
    background-color: #00bc8c;
}

.task_wrapper {
    background: #303030;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
}

.image_wrapper {
    padding: 0 20px 0 0;
}

.audio_wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.answer_wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.options_list {
    background: #303030;
    margin: 0;
    padding: 0;
    margin-right: 20px;
    border-radius: 15px;
    flex-grow: 1;
    border: 1px solid darkgrey;
    margin-bottom: 20px;
}

.options_item {
    list-style: none;
    margin: 0;
    padding: 8px;
    display: flex;
}

.options_item:hover {
    background: darkgrey;
    border-radius: 15px;
}

.options_item--right,
.options_item--wrong {
    position: relative;
}

.options_item--right::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: green;
    z-index: 1;
}

.options_item--wrong::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: red;
    z-index: 1;
}

.options_item:not(:last-child) {
    border-bottom: 1px solid darkgrey;
}

.options_label {
    display: inline-block;
    width: 100%;
}

.description_wrapper {
    background: #303030;
    border-radius: 15px;
    padding: 10px 20px;
    flex-grow: 1;
    border: 1px solid darkgrey;
    margin-bottom: 20px;
    max-width: 780px;
}

.description_main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.description_main img {
    padding-right: 15px;
}

.description_bird {
    flex-grow: 1;
}

.description_bird h3,
.description_bird p {
    margin: 0;
    padding: 0;
}

.description_bird p {
    font-size: 16px;
    font-style: italic;
    padding-bottom: 10px;
}

.description_text {
    font-size: 16px;
}

.button_next {
    background-color: darkgrey;
    width: 100%;
    border: none;
    color: #ffffff;
    font-size: 20px;
    padding: 15px;
    border-radius: 15px;
}

.button_next--active {
    background-color: #008966;
}

@media screen and (max-width: 481px) {
    .image_wrapper {
        padding: 10px;
        margin: 0 auto;
    }

    .answer {
        text-align: center;
    }

    .options_list {
        margin-right: 0;
    }
}

@media screen and (max-width: 420px) {
    body {
        padding: 0 2px;
    }

    .task_wrapper {
        padding: 10px 5px;
    }

    .rhap_container {
        min-width: 220px !important;
        padding: 10px !important;
    }
}

